/* VARIABLES */
:root
{
    --content-height: 8vh;
}

#contentContainer
{
    display: grid;
    grid-template-rows: var(--content-height) var(--content-height) auto;
    /* grid-template-columns: 100%; */
    /* align-items: start; */
    align-content: start;
}

#stripContainer, #actionContainer
{
    display: grid;
    grid-template-rows: var(--content-height);
    grid-template-columns: 25% 75%;
    
    place-items: center;
}


/* label
{
    margin: 0px 30px;
} */

input
{
    justify-self: left;
}

select
{
    width: 60vw;
    height: 5vh;
    
    font-size: 3vmin;
    
    border-radius: 10px;
}